.barchart-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem 5%;
  overflow: scroll;
  padding: 2rem 0;
}
.chart-grid {
  width: 45%;
  border: 1px solid rgb(187, 184, 184);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.title {
  width: 100%;
  text-align: center;
}
